<div class="container">
  <h1>Ask Wikipedia</h1>

  <!-- Question -->
  <mat-stepper #stepper orientation="vertical" [linear]="true">
    <mat-step [completed]="question.getValue().length > 0">
      <ng-template matStepLabel>
        {{ stepper.selectedIndex > 0 && question.getValue().length > 0
          ? 'Question: ' + question.getValue() 
          : 'Enter your question'
        }}
      </ng-template>
      <mat-form-field style="margin-top: 1rem;" class="question-field">
        <input #questionBox matInput
          placeholder="Ask a question"
          (input)="questionChanged(questionBox.value)"
          (keyup.enter)="stepper.next()"
        />
      </mat-form-field>
      <button mat-raised-button matStepperNext color="primary">Next</button>
    </mat-step>

    <!-- Article -->
    <mat-step [completed]="hasArticle()">
      <ng-template matStepLabel>
        {{ stepper.selectedIndex > 1 && this.getSelectedArticle().length > 0
          ? 'Article: ' + this.getSelectedArticle()
          : 'Select an article'
        }}
      </ng-template>
      <mat-selection-list #articleSuggestionList
        [multiple]="false"
        [hideSingleSelectionIndicator]="true"
        (selectionChange)="otherArticle.value=''; getAnswer();"
      >
        <mat-list-option *ngFor="let article of articles$ | async" [value]="article">
          {{ article }}
        </mat-list-option>
      </mat-selection-list>
      <mat-form-field class="other-article">
        <mat-label>Other article</mat-label>
        <input #otherArticle
          type="text" 
          matInput
          placeholder="Search a different article"
          style="width: 100%"
          (input)="otherArticleChanged(otherArticle.value)"
          [matAutocomplete]="auto"
        >
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="otherArticleChanged($event.option.value); getAnswer();">
          <mat-option *ngFor="let article of otherArticles$ | async" [value]="article">
            {{article}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </mat-step>
  </mat-stepper>

    <!-- Answer -->
    <div *ngIf="answerStarted">
      <mat-card style="margin-top: 1rem;" appearance="outlined" >
        <mat-card-content style="min-height: 2rem;">
          {{answer$ | async}}<span *ngIf="answerInProgress">&#x2588;</span>
          <mat-spinner *ngIf="answerStarted && !answerInProgress && !answerComplete" style="margin: 0 auto; height: 2rem;"></mat-spinner>
        </mat-card-content>
      </mat-card>
    </div>
</div>
